name: Lyskills Deployment

on:
  push:
    branches: [ "master" ]
jobs:
  laravel-deployment:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # - uses: shivammathur/setup-php@v2
    #   with:
    #     php-version: '8.1'
        # ini-values: upload_max_filesize=80000M, post_max_size = 80000M, allow_url_fopen = On, display_errors = Off,enable_dl = Off,
                    # file_uploads = On,max_execution_time = 300,max_input_time = 600, max_input_vars = 10000,memory_limit = 4500M
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.live', '.env');"

    # - name: clear cache
    #   run: php artisan config:cache

    - name: npm dependecies
      run: npm install

    # - name: Clear Cache & run migrations
    #   run: |
    #     php artisan key:generate
    #     php artisan migrate

    # - name: config routing
    #   run: php artisan config:route

    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        server: ${{secrets.FTP_SERVER}}
        username: ${{secrets.FTP_USERNAME}}
        password: ${{secrets.FTP_PASS}}
        server-dir: /

    # - name: Directory Permissions
    #   run: chmod -R 777 storage bootstrap/cache

    # - name: Install Dependencies
      # run: |
          # composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    - name: Running Scripts
      uses: appleboy/ssh-action@master
      with:
        username: ${{secrets.SSH_USERNAME}}
        host: ${{secrets.SERVER_IP}}
        password: ${{ secrets.SSH_PASSWORD }}
        script: 'cd /home/usmansaleem234/public_html && chmod u+x ./server_deploy.sh && ./server_deploy.sh'
