name: Lyskills Deployment

on:
  push:
    branches: [ "master" ]
jobs:
  laravel-deployment:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
        ini-values: upload_max_filesize=80000M, post_max_size = 80000M, allow_url_fopen = On, display_errors = Off,enable_dl = Off,
                    file_uploads = On,max_execution_time = 300,max_input_time = 600, max_input_vars = 10000,memory_limit = 4500M

    - name: Install Dependencies
      run: |
        composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    # - name: clear cache
    #   run: php artisan config:cache

    - name: npm dependecies
      run: npm install && npm run prod

    # - name: Clear Cache & run migrations
    #   run: |
    #     php artisan key:generate
    #     php artisan migrate

    # - name: config routing
    #   run: php artisan config:route

    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        server: ${{secrets.FTP_SERVER}}
        username: ${{secrets.FTP_USERNAME}}
        password: ${{secrets.FTP_PASS}}
        server-dir: /

    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache